@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.himawarna-text-gradient {
  background: linear-gradient(to right, #2563eb, #9333ea, #db2777, #eab308);
  -webkit-background-clip: text; /* Safari / Chrome */
  -webkit-text-fill-color: transparent; /* Safari / Chrome */
  background-clip: text; /* Standard property for other browsers */
}
