@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
/* Gradient khusus text */
.text-gradient-himawarna {
  background: linear-gradient(to right, #2563eb, #9333ea, #db2777, #eab308);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
